@import "colors.scss";

.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }
  }
}

/* Animations from https://github.com/IanLunn/Hover */
/* Buzz Out */
@keyframes hvr-buzz-out {
  10% { transform: translateX(3px) rotate(2deg); }
  20% { transform: translateX(-3px) rotate(-2deg); }
  30% { transform: translateX(3px) rotate(2deg); }
  40% { transform: translateX(-3px) rotate(-2deg); }
  50% { transform: translateX(2px) rotate(1deg); }
  60% { transform: translateX(-2px) rotate(-1deg); }
  70% { transform: translateX(2px) rotate(1deg); }
  80% { transform: translateX(-2px) rotate(-1deg); }
  90% { transform: translateX(1px) rotate(0); }
  100% { transform: translateX(-1px) rotate(0); }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  animation-name: hvr-buzz-out;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/* Underline Reveal */
.hvr-underline-reveal, .underline-reveal {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0) translateY(0px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary;
  height: 4px;
  transform: translateY(4px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary;
  height: 4px;
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  transform: translateY(0);
}

/* Noise - 404 Page */
@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% { opacity: 1; transform: scaleY(1); }
  4.3% { opacity: 1; transform: scaleY(1.7); }
  43% { opacity: 1; transform: scaleX(1.5); }
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% { opacity: 0; }
  10% { opacity: .1; }
  50% { opacity: .5; left: -6px; }
  80% { opacity: .3; }
  100% { opacity: .6; left: 2px; }
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% { opacity: 0; }
  10% { opacity: .1; }
  50% { opacity: .5; left: 6px; }
  80% { opacity: .3; }
  100% { opacity: .6; left: -2px; }
}

@keyframes noise-3 {
  0%, 3%, 5%, 42%, 44%, 65%, 67%, 100% { opacity: 1; transform: scaleY(1); }
  4% { opacity: 1; transform: scaleY(random(10)); }
  43% { opacity: 1; transform: scaleX(random(10)) rotate(60deg); }
  66% { opacity: 1; transform: scaleX(random(10)) rotate(-60deg); }
}

/* Toasty slide-in */
@keyframes slide-in {
  0% { margin-bottom: -160px }
  50%, 100% { margin-bottom: 0 }
}

/* Card Flip */
.flip-container {
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.flip-container:hover .flip, .flip-container.hover .flip {
  transform: rotateY(180deg);
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

/* Vibrate */
@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}