$bgColor: #f2f2f2;

$brandPrimary: #003366;
$brandPrimaryDark: darken($brandPrimary, 10%);
$brandPrimaryDarker: darken($brandPrimaryDark, 5%);

$icons: #757575;

$overlay: transparentize($brandPrimaryDarker, 0.1);

$facebook: #3b5998;
$github: #212529;
$linkedin: #0077b5;
$telegram: #0088cc;
$twitter: #1DA1F2;
$whatsapp: #25d366;

:export {
  bgColor: $bgColor;
  primary: $brandPrimary;
  primaryDark: $brandPrimaryDark;
  primaryDarker: $brandPrimaryDarker;

  icons: $icons;

  overlay: $overlay;

  facebook: $facebook;
  github: $github;
  linkedin: $linkedin;
  telegram: $telegram;
  twitter: $twitter;
  whatsapp: $whatsapp;
}