@font-face {
  font-family: 'HK Nova Medium Narrow';
  src:  url('../fonts/HKNova-MediumNarrow.eot');
  src:  url('../fonts/HKNova-MediumNarrow.otf') format('opentype'),
        url('../fonts/HKNova-MediumNarrow.woff2') format('woff2'),
        url('../fonts/HKNova-MediumNarrow.woff') format('woff'),
        url('../fonts/HKNova-MediumNarrow.ttf') format('truetype');
}